body {
    background: rgb(231, 217, 243);
    margin-left: 50px;
    margin-right: 50px;
}

header {
    margin-top: 70px;
}

h1 {
    color:royalblue;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}


.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 30px;
}
